body{
    margin: 0;
    padding: 0;
}
#header{
    width: auto;
    height: 800px;
    background-color: antiquewhite;
}
#header nav ul li{
    display: inline-block;
    padding: 20px;
    
}
#header nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
#header nav ul li a:hover{
    color: red;
}
#header nav img{
    width: 200px;
    height: 70px;
    margin-left: 100px;
    margin-top: 20px;
}
#header nav ul{
    float: right;
    margin-right: 100px;
}
.container{
    margin: 10%;
}
.text-blog{
    width:40%;
    height: auto;
    float: left;
}
.text-blog .femail-img{
    width: 100%;
    padding-left: 200px;
   
}
.be-penguin{
    color: orange;
    font-size: 40px;
}
h1{
    color: #000;
    font-size: 30px;
}
.top-buttom{
    width: 150px;
    height: 50px;
    background-color: #94AE2F;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    position: absolute;
    border-radius: 15px;
    border:none;
    
}

.top-buttom img{
    width: 20px;
    height: 20px;
    position: relative;
    padding-top: 10px;
}
#femail-container{
    width: auto;
    height: 600px;
    padding-left: 130px;
}
.femail-box{
    box-shadow: 10px 10px 10px #F1F1F1;
    
    width: 300px;
    height: 500px;
    display: inline-flex;
    margin: 10px;
    position: relative;
}
.jecket-box{
    margin: 10px;
    width: 270px;
    height: 280px;
    position: absolute;
    border-radius: 10px;
    background-color: #F1F1F1;
}
.jecket-box img{
    width: 270px;
    height: 280px;
    
}
.buy-button{
     float: right;
     direction: none;
     
}
.buy-button button{
   width: 120px;
   height: 40px;
   color: honeydew;
   font-size: 15px;
   font-weight: bold;
   background-color: #A4BC46;
   border: none;
   border-radius: 7px;
}
.buy-button img{
    width: 20px;
    height: 20px;
}
.price{
font-size: 30px;
color: #FCC245;
}
/*Footer Section */
#footer{
    width: 1200px;
    height: 600px;
    padding: 100px;
}
.footer-container{
    width: 45%;
    height: 550px;
    float: left;
}
.footer-box{
    box-shadow: 10px 10px 10px #F1F1F1;
    margin: 20px 0px 0px 30px;
    border-radius: 10px;
    width: 500px;
    height: 150px;
    background-color: #F1F1F1;
}
.footer-container img{
width: 100%;
height: 520px;
}
.footer-box img{
 width: 120px;
 height: 100px;
}
.heading-footer{
    width: 360px;
    height: 100px;
    float: right;
}
    